@media only screen and (max-width: 900px) {
    * {
        padding-right: 10px;
    }

    .titulo {
        width: 100%;
        padding: 30px 70px;
    }

    main {
        width: 100%;
    }

    form {
        margin: 0;
    }

    .field {
        white-space: nowrap;
    }

    .input_text {
        padding: 20px 50px;
    }

    .enviar {
        width: 100%;
        margin: 0 0 0 35%;
    }
}